In [16]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import auc, classification_report, roc_auc_score
from sklearn.model_selection import train_test_split
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier
pd.set_option('max_colwidth', 500)
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [17]:
# Load files
train = pd.read_csv('/content/drive/MyDrive/FinancialResilience/Train.csv')
test = pd.read_csv('/content/drive/MyDrive/FinancialResilience/Test.csv')
samplesubmission = pd.read_csv('/content/drive/MyDrive/FinancialResilience/SampleSubmission.csv')
variable_definations = pd.read_csv('/content/drive/MyDrive/FinancialResilience/VariableDefinitions.csv')

In [18]:
train.isna().sum()

ID                 0
country            0
region           679
population         0
age              287
Q1                 0
Q2             57146
Q3             59653
Q4             47422
Q5             47422
Q6                 0
Q7             84226
Q8             45838
Q9             45838
Q10a               0
Q10b               0
Q11                0
Q12                0
Q13a               0
Q14                0
Q15                0
Q16                0
Q17a               0
Q17b               0
Q19            24173
Q20            24173
Q21                0
Q22                0
Q23            67287
Q24                0
Q25                0
Q26            24173
Q27            46438
owns_mobile        1
Q28            31005
target             0
dtype: int64

In [19]:
ntrain = train.shape[0] # to be used to split train and test set from the combined dataframe

combo = pd.concat((train, test)).reset_index(drop=True)
print(f'The shape of the combined dataframe is: {combo.shape}')

The shape of the combined dataframe is: (149810, 36)

In [20]:
combo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149810 entries, 0 to 149809
Data columns (total 36 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ID           149810 non-null  object
 1   country      149810 non-null  object
 2   region       148830 non-null  object
 3   population   149810 non-null  float64
 4   age          149399 non-null  float64
 5   Q1           149810 non-null  int64
 6   Q2           68137 non-null   float64
 7   Q3           64562 non-null   float64
 8   Q4           82004 non-null   float64
 9   Q5           82004 non-null   float64
 10  Q6           149810 non-null  int64
 11  Q7           29515 non-null   float64
 12  Q8           84272 non-null   float64
 13  Q9           84272 non-null   float64
 14  Q10a         149810 non-null  int64
 15  Q10b         149810 non-null  int64
 16  Q11          149810 non-null  int64
 17  Q12          149810 non-null  int64
 18  Q13a         149810 non-null  int64
 19  Q14          149810 non-null  int64
 20  Q15          149810 non-null  int64
 21  Q16          149810 non-null  int64
 22  Q17a         149810 non-null  int64
 23  Q17b         149810 non-null  int64
 24  Q19          115206 non-null  float64
 25  Q20          115206 non-null  float64
 26  Q21          149810 non-null  int64
 27  Q22          149810 non-null  int64
 28  Q23          53580 non-null   float64
 29  Q24          149810 non-null  int64
 30  Q25          149810 non-null  int64
 31  Q26          115206 non-null  float64
 32  Q27          83535 non-null   float64
 33  owns_mobile  149808 non-null  float64
 34  Q28          105372 non-null  float64
 35  target       104867 non-null  float64
dtypes: float64(17), int64(16), object(3)
memory usage: 41.1+ MB

In [21]:
cat_cols = ['country',	'region', 'owns_mobile'] + [x for x in combo.columns if x.startswith('Q')]
num_cols = ['age', 'population']

In [22]:
combo[cat_cols] = combo[cat_cols].astype('category')

In [8]:
combo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149810 entries, 0 to 149809
Data columns (total 36 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ID           149810 non-null  object
 1   country      149810 non-null  category
 2   region       148830 non-null  category
 3   population   149810 non-null  float64
 4   age          149399 non-null  float64
 5   Q1           149810 non-null  category
 6   Q2           68137 non-null   category
 7   Q3           64562 non-null   category
 8   Q4           82004 non-null   category
 9   Q5           82004 non-null   category
 10  Q6           149810 non-null  category
 11  Q7           29515 non-null   category
 12  Q8           84272 non-null   category
 13  Q9           84272 non-null   category
 14  Q10a         149810 non-null  category
 15  Q10b         149810 non-null  category
 16  Q11          149810 non-null  category
 17  Q12          149810 non-null  category
 18  Q13a         149810 non-null  category
 19  Q14          149810 non-null  category
 20  Q15          149810 non-null  category
 21  Q16          149810 non-null  category
 22  Q17a         149810 non-null  category
 23  Q17b         149810 non-null  category
 24  Q19          115206 non-null  category
 25  Q20          115206 non-null  category
 26  Q21          149810 non-null  category
 27  Q22          149810 non-null  category
 28  Q23          53580 non-null   category
 29  Q24          149810 non-null  category
 30  Q25          149810 non-null  category
 31  Q26          115206 non-null  category
 32  Q27          83535 non-null   category
 33  owns_mobile  149808 non-null  category
 34  Q28          105372 non-null  category
 35  target       104867 non-null  float64
dtypes: category(32), float64(3), object(1)
memory usage: 9.3+ MB

In [23]:
# Fill in missing values
# For cat cols and date cols fill in with mode and for num cols fill in with 9999
for col in combo.columns:
  if col in cat_cols:
    combo[col] = combo[col].fillna(combo[col].mode()[0])
  elif col in num_cols:
    combo[col] = combo[col].fillna(combo[col].fillna(9999))

# Confirm that there aren't any missing values
combo[combo.columns.difference(['target'])].isna().sum().any()

False

In [24]:
combo.isnull().sum()

ID                 0
country            0
region             0
population         0
age                0
Q1                 0
Q2                 0
Q3                 0
Q4                 0
Q5                 0
Q6                 0
Q7                 0
Q8                 0
Q9                 0
Q10a               0
Q10b               0
Q11                0
Q12                0
Q13a               0
Q14                0
Q15                0
Q16                0
Q17a               0
Q17b               0
Q19                0
Q20                0
Q21                0
Q22                0
Q23                0
Q24                0
Q25                0
Q26                0
Q27                0
owns_mobile        0
Q28                0
target         44943
dtype: int64

In [25]:
# Shape of data before encoding
combo.shape
# Use one hot encoding to turn categorical features to numerical features
# Encode categorical features
combo = pd.get_dummies(data = combo, columns = cat_cols)
combo.head()

              ID  population   age  target  ...  Q28_1.0  Q28_2.0  Q28_3.0  Q28_4.0
0  ID_0000020532  25550170.0  66.0     0.0  ...        1        0        0        0
1  ID_0000075765   4591023.0  44.0     1.0  ...        1        0        0        0
2  ID_0000085491  25550170.0  29.0     0.0  ...        1        0        0        0
3  ID_0000144505  30491168.0  44.0     1.0  ...        1        0        0        0
4  ID_0000214184  93002320.0  36.0     1.0  ...        1        0        0        0

[5 rows x 276 columns]

In [26]:
# Shape of data after encoding
combo.shape

(149810, 276)

In [28]:
# Separate train and test data from the combined dataframe
train = combo[:ntrain]
test = combo[ntrain:]

# Check the shapes of the split dataset
train.shape, test.shape

((104867, 276), (44943, 276))

In [29]:
main_cols = train.columns.difference(['ID','target'])

In [30]:
X= train[main_cols]
y= train.target.astype(int)

In [31]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)

In [32]:
train.head()

              ID  population   age  target  ...  Q28_1.0  Q28_2.0  Q28_3.0  Q28_4.0
0  ID_0000020532  25550170.0  66.0     0.0  ...        1        0        0        0
1  ID_0000075765   4591023.0  44.0     1.0  ...        1        0        0        0
2  ID_0000085491  25550170.0  29.0     0.0  ...        1        0        0        0
3  ID_0000144505  30491168.0  44.0     1.0  ...        1        0        0        0
4  ID_0000214184  93002320.0  36.0     1.0  ...        1        0        0        0

[5 rows x 276 columns]

In [33]:
# Train model
model = LGBMClassifier()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict_proba(X_test)[:, 1]

# Check the auc score of the model
print(f'LGBM AUC score on the X_test is: {roc_auc_score(y_test, y_pred)}\n')

# print classification report
print(classification_report(y_test, [1 if x >= 0.5 else 0 for x in y_pred]))

LGBM AUC score on the X_test is: 0.7962515496007383

              precision    recall  f1-score   support

           0       0.67      0.65      0.66     12994
           1       0.76      0.78      0.77     18467

    accuracy                           0.73     31461
   macro avg       0.72      0.71      0.72     31461
weighted avg       0.72      0.73      0.72     31461

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
accuracies = cross_val_score(estimator = xgboost, X = X_train, y = y_train, cv = 10)

In [ ]:
# Make prediction on the test set
test = test[main_cols]
predictions = model.predict_proba(test)[:, 1]

# # Create a submission file
sub_file = samplesubmission.copy()
sub_file.target = predictions

# # Check the distribution of your predictions
sns.countplot([1 if x >= 0.5 else 0 for x in sub_file.target])
plt.title('Predicted Variable Distribution');

In [ ]:
# Create a csv file and upload to zindi 
sub_file.to_csv('Baseline.csv', index = False)
sub_file.head()

#WE ARE NOT GIVING UP
#WE GO DOWN WITH OUR SHIP